<mat-toolbar class="toolbar-add-edit">
   
  <button mat-icon-button class="toolbar-button" aria-label="Icon-button for navigation in app" (click)="onClick()">
    <mat-icon>save</mat-icon>
  </button>

  <button mat-icon-button class="toolbar-button" aria-label="Icon-button for navigation in app" (click)="onClick()">
    <mat-icon>refresh</mat-icon>
  </button>


  <button mat-icon-button class="toolbar-button" aria-label="Icon-button with application logo">
    <mat-icon>delete</mat-icon>
  </button>

</mat-toolbar>

