<mat-toolbar >

    <button mat-icon-button class="toolbar-button"  aria-label="Icon-button with application logo" (click)="navigateTo('left-page')">
      <mat-icon>keyboard_double_arrow_left</mat-icon>
    </button>

    <button mat-icon-button class="toolbar-button"  aria-label="Icon-button with application logo" (click)="navigateTo('left')">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>

    <button mat-icon-button class="toolbar-button" aria-label="Icon-button with application logo" (click)="navigateTo('right')">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>

    <button mat-icon-button class="toolbar-button" aria-label="Icon-button with application logo" (click)="navigateTo('right-page')">
      <mat-icon>keyboard_double_arrow_right</mat-icon>
    </button>

    <button mat-icon-button class="toolbar-button" aria-label="Icon-button with application logo" (click)="navigateTo('last')">
      <mat-icon>last_page</mat-icon>
    </button>

    <button mat-icon-button class="toolbar-button" aria-label="Icon-button for navigation in app" (click)="navigateTo('new')">
      <mat-icon>more_time</mat-icon>
    </button>

    <p>{{currentEventPosition}}/{{countEvents}}</p>
  </mat-toolbar>
