<mat-toolbar >

    <button mat-icon-button class="toolbar-button"  aria-label="Icon-button with application logo">
      <mat-icon>keyboard_double_arrow_left</mat-icon>
    </button>

    <button mat-icon-button class="toolbar-button"  aria-label="Icon-button with application logo">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>

    <button mat-icon-button class="toolbar-button" aria-label="Icon-button with application logo">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>

    <button mat-icon-button class="toolbar-button" aria-label="Icon-button with application logo">
      <mat-icon>keyboard_double_arrow_right</mat-icon>
    </button>

    <button mat-icon-button class="toolbar-button" aria-label="Icon-button with application logo">
      <mat-icon>last_page</mat-icon>
    </button>

    <button mat-icon-button class="toolbar-button" aria-label="Icon-button for navigation in app" (click)="onClick()">
      <mat-icon>more_time</mat-icon>
    </button>

    <p>{{currentEventPosition}}/{{countEvents}}</p>
  </mat-toolbar>
