<mat-card class="settings-card">
  <mat-card-header>
    <mat-card-title>{{t('settings', 'Settings')}}</mat-card-title>
  </mat-card-header>
<div class="settings-action-buttons">
    <button mat-button (click)="accordion?.openAll()">{{t('expand_all', 'Expand All')}}</button>
    <button mat-button (click)="accordion?.closeAll()">{{t('collapse_all', 'Collapse All')}}</button>
  </div>
  <mat-accordion class="settings-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>language</mat-icon>
          {{t('language', 'Language:')}}
          </mat-panel-title>
        <mat-panel-description>
          <span width = "5px"></span>
          {{langOrigin}}
          <span width = "5px"></span>
          {{langEn}}       
        </mat-panel-description>
        </mat-expansion-panel-header>
      <app-language-selection></app-language-selection>
    </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>palette</mat-icon>
            {{t('appearance', 'Appearance')}}
            </mat-panel-title>
          <mat-panel-description>
            {{t('set_options_for_appearance', 'Set appearance options')}}
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field>
        <mat-label>Country</mat-label>
        <input matInput>
      </mat-form-field>
    </mat-expansion-panel>
  
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>rule_folder</mat-icon>
          {{t('rules', 'Rules')}}
        </mat-panel-title>
        <mat-panel-description>
          {{t('set_rules', 'Set rules for automatic data deletion, etc.')}}      
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
      </mat-form-field>
      <mat-datepicker #picker></mat-datepicker>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
