<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{t('settings')}}</mat-card-title>
  </mat-card-header>
<div class="example-action-buttons">
    <button mat-button (click)="accordion?.openAll()">{{t('expand_all')}}</button>
    <button mat-button (click)="accordion?.closeAll()">{{t('collapse_all')}}</button>
  </div>
  <!-- #docregion multi -->
  <mat-accordion class="example-headers-align" multi>
  <!-- #enddocregion multi -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>language</mat-icon>
          {{t('language')}}
          </mat-panel-title>
        <mat-panel-description>
          <span width = "5px"></span>
          {{langOrigin}}
          <span width = "5px"></span>
          {{langEn}}       
        </mat-panel-description>
        </mat-expansion-panel-header>
      <app-language-selection></app-language-selection>
    </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>palette</mat-icon>
            {{t('appearance')}}
            </mat-panel-title>
          <mat-panel-description>
            {{t('set_options_for_appearance')}}
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field>
        <mat-label>Country</mat-label>
        <input matInput>
      </mat-form-field>
    </mat-expansion-panel>
  
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>rule_folder</mat-icon>
          {{t('rules')}}
        </mat-panel-title>
        <mat-panel-description>
          {{t('set_rules')}}      
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
      </mat-form-field>
      <mat-datepicker #picker></mat-datepicker>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
