<mat-card class="settings-card">
  <mat-card-header>
    <mat-card-title>{{ui.settings}}</mat-card-title>
  </mat-card-header>
  <mat-accordion class="settings-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header #languagePanel>
        <mat-panel-title>
          <mat-icon>language</mat-icon>
          {{ui.language}}:
          </mat-panel-title>
        <mat-panel-description>
          <span width = "5px"></span>
          {{langEn}}   
          {{langOrigin}}
        </mat-panel-description>
        </mat-expansion-panel-header>
      <app-language-selection></app-language-selection>
    </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>list</mat-icon>
             {{ui.logging}}:
            </mat-panel-title>
          <mat-panel-description>
            ({{ui.loggingExplanation}})
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-log-setting></app-log-setting>     
    </mat-expansion-panel>
  </mat-accordion>
  <mat-card-footer>
    <p class="version">{{version}}</p>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
