# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Files
TODO.md
dist/pritisan/3rdpartylicenses.txt
dist/pritisan/browser/alternative-selection.component-HZTB3HRF.css.map
dist/pritisan/browser/capture.component-7ZYSKZS7.css.map
dist/pritisan/browser/current-event.component-HO2I3GFT.css.map
dist/pritisan/browser/favicon.ico
dist/pritisan/browser/index.html
dist/pritisan/browser/language-selection.component-OO3G4XMT.css.map
dist/pritisan/browser/main-OHZU43LL.js
dist/pritisan/browser/main-OHZU43LL.js.map
dist/pritisan/browser/main.component-ORVM75PG.css.map
dist/pritisan/browser/parameters-setting.component-DCSWD64K.css.map
dist/pritisan/browser/polyfills-II23UKTD.js
dist/pritisan/browser/polyfills-II23UKTD.js.map
dist/pritisan/browser/repository-navigation.component-AV6CWIJ4.css.map
dist/pritisan/browser/running-events.component-BITJG7NA.css.map
dist/pritisan/browser/settings.component-TXOPT6XX.css.map
dist/pritisan/browser/styles-DTVQWOPL.css
dist/pritisan/browser/styles-DTVQWOPL.css.map
dist/pritisan/browser/time-point-setting.component-N5VLQ64H.css.map
dist/pritisan/browser/toolbar.component-DL53XE4J.css.map
dist/pritisan/browser/tree-selector.component-QLK4MIRA.css.map
dist/pritisan/browser/assets/languages/languages.json
dist/pritisan/browser/assets/languages/core/components/main/lang/ar-SA.json
dist/pritisan/browser/assets/languages/core/components/main/lang/bg-BG.json
dist/pritisan/browser/assets/languages/core/components/main/lang/bn-BD.json
dist/pritisan/browser/assets/languages/core/components/main/lang/ca-ES.json
dist/pritisan/browser/assets/languages/core/components/main/lang/cs-CZ.json
dist/pritisan/browser/assets/languages/core/components/main/lang/da-DK.json
dist/pritisan/browser/assets/languages/core/components/main/lang/de-DE.json
dist/pritisan/browser/assets/languages/core/components/main/lang/el-GR.json
dist/pritisan/browser/assets/languages/core/components/main/lang/en-EN.json
dist/pritisan/browser/assets/languages/core/components/main/lang/en-US.json
dist/pritisan/browser/assets/languages/core/components/main/lang/es-ES.json
dist/pritisan/browser/assets/languages/core/components/main/lang/et-EE.json
dist/pritisan/browser/assets/languages/core/components/main/lang/fa-IR.json
dist/pritisan/browser/assets/languages/core/components/main/lang/fi-FI.json
dist/pritisan/browser/assets/languages/core/components/main/lang/fr-FR.json
dist/pritisan/browser/assets/languages/core/components/main/lang/he-IL.json
dist/pritisan/browser/assets/languages/core/components/main/lang/hr-HR.json
dist/pritisan/browser/assets/languages/core/components/main/lang/hu-HU.json
dist/pritisan/browser/assets/languages/core/components/main/lang/id-ID.json
dist/pritisan/browser/assets/languages/core/components/main/lang/it-IT.json
dist/pritisan/browser/assets/languages/core/components/main/lang/ja-JP.json
dist/pritisan/browser/assets/languages/core/components/main/lang/ko-KR.json
dist/pritisan/browser/assets/languages/core/components/main/lang/lt-LT.json
dist/pritisan/browser/assets/languages/core/components/main/lang/lv-LV.json
dist/pritisan/browser/assets/languages/core/components/main/lang/nb-NO.json
dist/pritisan/browser/assets/languages/core/components/main/lang/nl-NL.json
dist/pritisan/browser/assets/languages/core/components/main/lang/no-NO.json
dist/pritisan/browser/assets/languages/core/components/main/lang/pa-IN.json
dist/pritisan/browser/assets/languages/core/components/main/lang/pl-PL.json
dist/pritisan/browser/assets/languages/core/components/main/lang/pt-PT.json
dist/pritisan/browser/assets/languages/core/components/main/lang/ro-RO.json
dist/pritisan/browser/assets/languages/core/components/main/lang/ru-RU.json
dist/pritisan/browser/assets/languages/core/components/main/lang/sk-SK.json
dist/pritisan/browser/assets/languages/core/components/main/lang/sl-SI.json
dist/pritisan/browser/assets/languages/core/components/main/lang/sr-RS.json
dist/pritisan/browser/assets/languages/core/components/main/lang/sv-SE.json
dist/pritisan/browser/assets/languages/core/components/main/lang/th-TH.json
dist/pritisan/browser/assets/languages/core/components/main/lang/tr-TR.json
dist/pritisan/browser/assets/languages/core/components/main/lang/uk-UA.json
dist/pritisan/browser/assets/languages/core/components/main/lang/vi-VN.json
dist/pritisan/browser/assets/languages/core/components/main/lang/zh-CN.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/ar-SA.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/bg-BG.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/bn-BD.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/ca-ES.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/cs-CZ.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/da-DK.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/de-DE.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/el-GR.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/en-EN.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/en-US.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/es-ES.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/et-EE.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/fa-IR.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/fi-FI.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/fr-FR.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/he-IL.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/hr-HR.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/hu-HU.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/id-ID.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/it-IT.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/ja-JP.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/ko-KR.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/lt-LT.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/lv-LV.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/nb-NO.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/nl-NL.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/no-NO.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/pa-IN.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/pl-PL.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/pt-PT.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/ro-RO.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/ru-RU.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/sk-SK.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/sl-SI.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/sr-RS.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/sv-SE.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/th-TH.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/tr-TR.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/uk-UA.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/vi-VN.json
dist/pritisan/browser/assets/languages/features/components/settings/lang/zh-CN.json
