@import '../../../../shared/styles/toolbar.scss';

.container2 {
    display: flex;
  }

  .container3 {
    display: flex;
    justify-content: flex-end;
  }
  
  app-current-event-toolbar {
    flex: 0 0 auto; /* This means the toolbar will not grow or shrink and will use its natural width */
  }
  
  app-event-type-selecting {
    flex: 1 1 auto; /* This means the selection will grow and shrink as needed to occupy the rest of the width */
  }

  .event-card {
    max-width: 300px;
  }

  .toolbar-add-edit {
    display: flex;
    padding: 0 10px;
    margin: 0 10px;
    justify-content: flex-end
}