<h1>Add Event: {{currentEventDescription}}</h1>
<div class="container2">
    
    @switch (currentSubCommponent) { 
        
        @case ("event-type-setting") {
            <app-event-type-setting></app-event-type-setting>
        } 
        <!--
        @case ("ressource-type-setting") {
          <app-analysis></app-analysis>
        } 
        @case ("date-setting") {
          <app-import-export></app-import-export>
        } 
        @case ("time-interval-setting") {
          <app-settings></app-settings>
        } 
        @case ("amount-setting") {
          <app-info></app-info>
        } 
        @case ("units-setting") {
          <app-analysis></app-analysis>
        } 
        @case ( "number-of-times-setting") {
          <app-import-export></app-import-export>
        } 
        @case ("comment-setting") {
          <app-settings></app-settings>
        } 
        @case ("tag-setting") {
          <app-info></app-info>
        } 
        @case ("interval-type-setting") {
          <app-import-export></app-import-export>
        } 
        @case ("beginning-type-setting") {
          <app-settings></app-settings>
        } 
        @case ("period-type-setting") {
          <app-info></app-info>
        } 
        -->
        @default {
            <!--equal "workflow-type-setting" -->
            <app-event-type-selecting></app-event-type-selecting>
        } 
      }
</div>
<div class="container3">
  <mat-toolbar class="toolbar-add-edit">
   
    <button mat-icon-button class="toolbar-button" aria-label="Icon-button for navigation in app"
      (click)="navigateTo(CEA.FIRST_STEP)" disabled="{{isDisabled(CEA.FIRST_STEP)}}">
      <mat-icon>first_page</mat-icon>
    </button>
  
    <button mat-icon-button class="toolbar-button" aria-label="Icon-button for navigation in app" 
    (click)="navigateTo(CEA.PREVIOUS_STEP)" disabled="{{isDisabled(CEA.PREVIOUS_STEP)}}">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  
  
    <button mat-icon-button class="toolbar-button" aria-label="Icon-button with application logo"
      (click)="navigateTo(CEA.NEXT_STEP)" disabled="{{isDisabled(CEA.NEXT_STEP)}}">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  
    <button mat-icon-button class="toolbar-button" aria-label="Icon-button for navigation in app" 
      (click)="navigateTo(CEA.SAVE)" disabled="{{isDisabled(CEA.SAVE)}}">
      <mat-icon>save</mat-icon>
    </button>
  
    <button mat-icon-button class="toolbar-button" aria-label="Icon-button for navigation in app" 
    (click)="navigateTo(CEA.CANCEL)" disabled="{{isDisabled(CEA.CANCEL)}}">
      <mat-icon>refresh</mat-icon>
    </button>
  
  
    <button mat-icon-button class="toolbar-button" aria-label="Icon-button with application logo"
      (click)="navigateTo(CEA.DELETE)" disabled="{{isDisabled(CEA.DELETE)}}">
      <mat-icon>delete</mat-icon>
    </button>
  
  </mat-toolbar>
</div>


