<h1>Add Event</h1>
<div class="container2">
    
    @switch (currentSubCommponent) { 
        <!--
        @case ("activity_type_selecting") {
            <app-event-type-selecting></app-event-type-selecting>
        } 
        @case ("analysis") {
          <app-analysis></app-analysis>
        } 
        @case ("import_export") {
          <app-import-export></app-import-export>
        } 
        @case ("settings") {
          <app-settings></app-settings>
        } 
        @case ("info") {
          <app-info></app-info>
        } 
        -->
        @default {
            <app-event-type-selecting></app-event-type-selecting>
        } 
      }
</div>
<div class="container3">
    <app-current-event-toolbar></app-current-event-toolbar>
</div>


