<h1>Add Event TODO Localization: {{currentEventDescription}}</h1>
<div class="container2">

    <app-workflow-type-selection></app-workflow-type-selection>

    @switch (currentSubCommponent) { 
      
      @case ("workflow-event-processing") {
        <app-workflow-event-processing></app-workflow-event-processing>
      }  

      @case ("workflow-ressource-processing") {
        <app-workflow-ressource-processing></app-workflow-ressource-processing>
      }  

      @case ("workflow-observation-processing") {
        <app-workflow-observation-processing></app-workflow-observation-processing>
      }  
      
    }
</div>
<div class="container3">
  <mat-toolbar class="toolbar-add-edit">
  
  
    <button mat-icon-button class="toolbar-button" aria-label="Icon-button with application logo"
      (click)="onButtonClick(CEA.NEXT_STEP)" disabled="{{isDisabled(CEA.NEXT_STEP)}}">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  
    <button mat-icon-button class="toolbar-button" aria-label="Icon-button for navigation in app" 
      (click)="onButtonClick(CEA.SAVE)" disabled="{{isDisabled(CEA.SAVE)}}">
      <mat-icon>save</mat-icon>
    </button>
  
    <button mat-icon-button class="toolbar-button" aria-label="Icon-button for navigation in app" 
    (click)="onButtonClick(CEA.CANCEL)" disabled="{{isDisabled(CEA.CANCEL)}}">
      <mat-icon>refresh</mat-icon>
    </button>
  
  
    <button mat-icon-button class="toolbar-button" aria-label="Icon-button with application logo"
      (click)="onButtonClick(CEA.DELETE)" disabled="{{isDisabled(CEA.DELETE)}}">
      <mat-icon>delete</mat-icon>
    </button>
  
  </mat-toolbar>
</div>


