  <div class="main-container" [class.example-is-mobile]="mobileQuery.matches">


    <app-toolbar></app-toolbar>

    <mat-sidenav-container class="main-sidenav-container"
                          [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [opened]="isShowing"[mode]="mobileQuery.matches ? 'over' : 'side'"
                  [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
          @for (nav of fillerNav; track nav) {
            <a mat-list-item routerLink="aaa">{{nav}}</a>
          }
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
        @for (content of fillerContent; track content) {
    <p>{{content}}</p>
  }
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
