  <div class="main-container" [class.example-is-mobile]="mobileQuery.matches">


    <app-toolbar></app-toolbar>

    <mat-sidenav-container class="main-sidenav-container"
                          [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [opened]="isShowing"[mode]="mobileQuery.matches ? 'over' : 'side'"
                  [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
          <mat-nav-list>

            @for (nav of navItems; track nav.link) {
              <a mat-list-item routerLink="/{{nav.link}}">
                <span matLine>{{nav.labelKey}}</span>
                <button mat-icon-button>
                  <mat-icon iconPositionEnd>{{nav.icon}}</mat-icon>
              </button>
              </a>
            }

          </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>

  </div>
