  <div class="main-container" [class.my-is-mobile]="mobileQuery.matches">


    <app-toolbar></app-toolbar>

    <mat-sidenav-container class="main-sidenav-container">
      <mat-sidenav #snav [opened]="isShowing"[mode]="mobileQuery.matches ? 'over' : 'side'"
                  [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
          <mat-nav-list>
            @for (nav of navItems; track nav.link) {
              <a mat-list-item routerLink="/{{nav.link}}" (click)="toggleMenu()">
                  <button mat-icon-button class="custom-button mat-body-1">{{nav.label}}
                    <mat-icon color="primary" iconPosition="after">{{nav.icon}}</mat-icon>
                  </button>
              </a>
            }
          </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>

  </div>
