<div >
    <form [formGroup]="form">
      <mat-form-field class="date-control">
        <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>  
    </form>

    <mat-form-field class="time-control">
      <mat-label>Hour</mat-label>
      
      <mat-select [(value)]="selectedHour" (selectionChange)="onTimeChanged()">
      
        @for (hour of hours; track hour) {
          <mat-option [value]="hour">{{hour}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="time-control">
      <mat-label>Minutes</mat-label>
      
      <mat-select [(value)]="selectedMinute" (selectionChange)="onTimeChanged()">
      
        @for (minute of minutes; track minute) {
          <mat-option [value]="minute">{{minute}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

  </div>
