<mat-toolbar color="secondary" class="frame-toolbar">
    <button mat-icon-button class="toolbar-icon" aria-label="Icon-button for navigation in app" (click)="onClick()">
      <mat-icon>more_time</mat-icon>
    </button>
    
    <button mat-icon-button class="toolbar-icon" aria-label="Icon-button with application logo">
      <mat-icon>edit_note</mat-icon>
    </button>

    <button mat-icon-button class="toolbar-icon" [class.playing]="isPlaying" aria-label="Icon-button with application logo">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>

      <button mat-icon-button class="toolbar-icon" aria-label="Icon-button with application logo">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>

      <button mat-icon-button class="toolbar-icon" [disabled]="isDisabled" aria-label="Icon-button with application logo">
        <mat-icon>last_page</mat-icon>
      </button>
  </mat-toolbar>
<p>-------------------------------------------- capture works!</p>
