.toolbar-icon {
    position: relative;
    background-color: #424942; /* Green */
    border: none;
    color: white;
    padding: 1px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 3px 3px #999;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    }
  
    .toolbar-icon:hover {
        background-color: #3e8e41;
        color: white;
    }

    .toolbar-icon:active {
        background-color: #3e8e41;
        box-shadow: 3px 3px #666;
        transform: translateY(4px);
    }

    .toolbar-icon:disabled {
        background-color: #829182;
        color: #666;
        cursor: not-allowed;
    }

    .toolbar-icon.playing {
        background-color: #3f483f;
        color: #666;
        box-shadow: inset 3px 3px 5px #999,;
    }

.event-capture-box {
    padding: 20px 20px 20px 20px;
    box-shadow: 1px 5px 15px 5px #888888;
    color: #666;
    border-radius: 20px;
    margin: 10px;
    box-sizing: content-box;
    display: inline-grid;
}

.time-control{
    width: 80px;
    margin: 10px;
}

.date-control{
    width: 180px;
    margin: 10px;
    vertical-align: top;
}


.activity-control{
    width: 300px;
    margin: 10px;
    vertical-align: top;
}