<div class="event-capture-box">
<mat-toolbar color="secondary" class="frame-toolbar">
  <button mat-icon-button class="toolbar-icon" aria-label="Icon-button for navigation in app" (click)="onClick()">
    <mat-icon>more_time</mat-icon>
  </button>
  
  <button mat-icon-button class="toolbar-icon" aria-label="Icon-button with application logo">
    <mat-icon>edit_note</mat-icon>
  </button>

  <button mat-icon-button class="toolbar-icon" [class.playing]="isPlaying" aria-label="Icon-button with application logo">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>

    <button mat-icon-button class="toolbar-icon" aria-label="Icon-button with application logo">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>

    <button mat-icon-button class="toolbar-icon" [disabled]="isDisabled" aria-label="Icon-button with application logo">
      <mat-icon>last_page</mat-icon>
    </button>
</mat-toolbar>


<h1 >Enter the event:</h1>

<mat-form-field>
  <mat-label>Momentary event </mat-label>
  <select matNativeControl>
    <optgroup label="Momentary event">
      <option value="m1">just occurred </option>
      <option value="m2">happened in the past</option>
    </optgroup>
    <optgroup label="Interval event">
      <option value="i1">- just started</option>
      <option value="i2">- started in the past and is ongoing</option>
      <option value="i3">- just ended</option>
      <option value="i4">- occurred and finished in the past </option>
    </optgroup>
  </select>
</mat-form-field>

<div>
  <h2>Interval event, occurred and finished in the past.</h2> 

  <div >
    <h3>Start time:</h3> 
    <mat-form-field class="date-control">
      <input matInput [matDatepicker]="picker1" placeholder="Date">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>  
 

    <mat-form-field class="time-control">
      <mat-label>Hour</mat-label>
      
      <select matNativeControl>
      
        @for (hour of hours; track hour) {
          <option [value]="hour">{{hour}}</option>
        }
      </select>
    </mat-form-field>

    <mat-form-field class="time-control">
      <mat-label>Minutes</mat-label>
      
      <select matNativeControl>
      
        @for (minute of minutes; track minute) {
          <option [value]="minute">{{minute}}</option>
        }
      </select>
    </mat-form-field>

  </div>


  <div>
    <h3>Finish time:</h3> 
    <mat-form-field class="date-control">
      <input matInput [matDatepicker]="picker" placeholder="Date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>  
 

    <mat-form-field class="time-control">
      <mat-label>Hour</mat-label>
      
      <select matNativeControl>
      
        @for (hour of hours; track hour) {
          <option [value]="hour">{{hour}}</option>
        }
      </select>
    </mat-form-field>

    <mat-form-field class="time-control">
      <mat-label>Minutes</mat-label>
      
      <select matNativeControl>
      
        @for (minute of minutes; track minute) {
          <option [value]="minute">{{minute}}</option>
        }
      </select>
    </mat-form-field>

    <h3>Activity:</h3>
    <mat-form-field class="activity-control">
      <mat-label>Activity/Data</mat-label>
      
      <select matNativeControl>
      
        @for (activity of activities; track activity.id) {
          <option [value]="activity">{{activity.label}}</option>
        }
      </select>
    </mat-form-field>

  </div>
</div>
</div>


